node_url: "ws://NodeIP:NodePort"  # Node address and port to connect to

addresses:  # List of wallet addresses
  - "ADDRESS1"
  - "ADDRESS2" # Etc

enable_gpu: True # Enable GPU monitoring when tmux-ing

check_interval: 6  # Time interval in seconds

notifications:
  discord_webhook: False # 'webhook_url' # Replace with Discord Webhook URL or set to false
  
  pushbullet_token:  False # "pushbullet_token" # Replace with '<token>' or set false.
  
  pushover:
    user_key: False  # "your_pushover_user_key"
    api_token: False # "your_pushover_api_token"
  
  telegram:
    bot_token: False # "your_telegram_bot_token"
    chat_id:   False # "your_telegram_chat_id"